<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>JSF 2.0 Hello World</title>
    </h:head>
    <h:body>
        <h2>JSF+Kotlin Example</h2>
        <h:form>
            <p>Text from a Kotlin-based bean: #{myBean.text}</p>
            <h:inputText value="#{myBean.text}"></h:inputText>
            <h:commandButton value="Change Me"></h:commandButton>
        </h:form>
    </h:body>
</html>
